[submodule "volley"]
	path = volley
    url = https://github.com/mfulbright/android-volley.git
[submodule "bump-api-android"]
    path = bump-api-android
    url = https://github.com/bumptech/bump-api-android.git

